@use "./tailwind.scss";
@use "./shadcn/components.scss";
@use "../fonts/fonts.scss";
@use "./colors.scss";
html,
body {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  background-color: #171818;
}
